<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./taxiDemo.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col text-center">
                    <h2>For Hire!!!!!!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-6">
                    <h4>Normal Taxis</h4>
                    <ul id="taxiList-normal" class="list-group">
                        
                    </ul>
                </div>
                <div class="col col-lg-6">
                    <h4>Pink Taxis</h4>
                    <ul id="taxiList-pink" class="list-group">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>